@import url('https://use.typekit.net/wvh2fzc.css');

html,
body,
#root,
#gatsby-focus-wrapper, /* credit: https://dev.to/greggoms/comment/ef3a */
#___gatsby,
.top-level-div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    /* display: grid;
    grid-template-rows: 10% 20% 10% 20% 10% 20% 10%;
    grid-template-columns: 10% 20% 10% 20% 10% 20% 10%; */
    /* width: 100vw;
    height: 100%; */
    /* left: auto; */
    /* transform: none; */
    /* padding: 0; */
    /* margin: 0; */
    font-family: 'futura-pt';
    text-transform: capitalize;
    /* justify-self: center; */
    /* align-self: center; */
    color: hsla(192, 18%, 49%, 1);
    filter: drop-shadow(0px 6px 20px 50px #3d5257);
    text-shadow: 0 0 10px hsla(192, 18%, 49%, 1), 0 0 20px #3d5257;
    
  }

.cnv, #asdf {
    position: fixed;
    top: 0;
    height: 10%;
    overflow-y: hidden;
}

Canvas {
    box-sizing: border-box;
    position: fixed;
    /* grid-row: 1 / 8;
    grid-column: 1/ 6; */
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }

 .heading-title {
    text-transform: capitalize;
    font-weight: 100;
    letter-spacing: 5vw;
    grid-row: 8;
    grid-column: 1 / 8;
    font-size: 5vw;
    text-indent: 2.6vw;
    padding: 0px;
    text-align: center;
    z-index: 2;
  }

  .scene {
      position: absolute;
      padding: 0;
      margin: 0;
      
  }

.sub-heading {
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 4/5;
    font-weight: 100;
    letter-spacing: 5vw;
    text-align: center;
    font-size: 5vw;
    padding-top: 10vw;
    z-index: 2;
}
  
  .disable-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Old version of Firefox */
    -ms-user-select: none; /* Internet Explorer or Edge */
    user-select: none; /* All modern browsers */
}

.cnv-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
