* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  /* credit: https://dev.to/greggoms/comment/ef3a */
  #gatsby-focus-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #___gatsby {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }